$faq-transition: 0.5s cubic-bezier(0.58, 0.2, 0.43, 0.82);

.faqs {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 5vw;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
}

.faq {
  &-item {
    padding: 10px 0;

    &-container {
      background-color: #f5f5f5;
      border: 1px solid #d9d9d9;
      border-radius: 8px;
      transition: background-color $faq-transition;
    }

    &.open {
      .faq-item-container {
        background-color: white;
      }

      .faq-answer {
        max-height: 500px; /* Adjust based on content */
        opacity: 1;
      }
    }
  }

  &-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 16px;
    border-radius: 8px;

    h3 {
      margin: 0;
    }

    &-chevron {
      position: relative;
    }

    span {
      opacity: 0;
      transition: opacity $faq-transition;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-50%);

      &.open {
        img {
          rotate: 180deg;
        }
      }

      &.display {
        opacity: 1;
      }
    }
  }

  &-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height $faq-transition, opacity $faq-transition;
    opacity: 0;
    padding: 0px 16px;

    p {
      margin: 0;
      margin-bottom: 16px;
    }
  }
}
